@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #27374d;
  --secondary-color: #526d82;
  --accent-color: #9db2bf;
  --background-color: #dde6ed;
}

.btn {
  border-radius: 0.2em;
  padding: 0.2em 0.5em;
  font-size: 1em;
  cursor: pointer;
  outline: none;
  border-radius: 8px;
  border-style: none;
  user-select: none;
  background-color: #42a5f5;
  color: var(--primary-color);
  &.success {
    background-color: #27ae60;
    color: var(--secondary-color);
  }
  &.danger {
    background-color: #e62143;
    color: var(--secondary-color);
  }
  &:hover {
    opacity: 1;
    transform: translateY(0);
    transition-duration: 0.35s;
    box-shadow: rgba(39, 174, 96, 0.2) 0 6px 12px;
  }
  &:active {
    transform: translateY(2px);
    transition-duration: 0.35s;
  }
}
a {
  color: var(--accent-color);
}
a.active {
  color: var(--primary-color);
}

a[about]:hover:before {
  content: attr(about);
  position: absolute;
  left: 2%;
  background-color: var(--background-color);
  background: #e0e0e0;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px #9d9d9d, -5px -5px 20px #ffffff;
  color: var(--primary-color);
  margin-left: 0.5em;
  font-size: 0.9em;
  font-weight: 500;
  z-index: 1000;
}
.tabs {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto;
  max-width: 70ch;
}

.tabs label {
  background: var(--primary-bg-color);
  color: var(--secondary-text-color);
  cursor: pointer;
  display: block;
  font-weight: 600;
  margin-right: 0.3rem;
  order: initial;
  padding: 1rem 2rem;
  transition: background ease 0.3s;
  width: 100%;
}

.tabs .tab-content {
  background: var(--secondary-bg-color);
  display: none;
  flex-grow: 1;
  padding: 1rem;
  width: 100%;
}

.tabs input[type="radio"] {
  display: none;
}

.tabs input[type="radio"]:checked + label {
  background: var(--secondary-bg-color);
  color: var(--primary-text-color);
}

.tabs input[type="radio"]:checked + label + .tab-content {
  display: block;
}

@media (min-width: 10em) {
  .tabs .tab-content {
    order: 99;
  }

  .tabs label {
    order: 1;
  }

  .tabs label {
    margin-right: 0.3rem;
    margin-top: 0;
    width: auto;
  }
}
