@import "tailwindcss";

:root {
  @apply text-base font-sans;
}

.btn {
  @apply inline-block text-center bg-blue-400 text-white text-sm px-2 py-1.5 font-semibold rounded-md
    transition-all duration-300 ease-in-out shadow-md cursor-pointer;

  &.success {
    @apply bg-green-400 text-white;
  }

  &.danger {
    @apply bg-rose-400 text-white;
  }

  &:hover {
    @apply opacity-100 shadow-lg;
    transform: translateY(-2px);
    transition-duration: 0.35s;
  }

  &:active {
    transform: translateY(2px);
    transition-duration: 0.35s;
  }
}

a {
  @apply text-teal-500;

  &.active {
    @apply text-white rounded p-1 bg-teal-400;
  }

  &[about]:hover:before {
    content: attr(about);
    @apply px-2 py-1 bg-teal-300 left-10 text-white
      rounded-md absolute z-1000;
  }
}
