@import "tailwindcss";

@plugin "daisyui" {
    themes:
        lights --default,
        cupcake,
        dim,
        dark;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* .router-link-active {
    @apply left-[50%] fixed -top-2 text-xl tooltip-top group-hover:opacity-0;

} */
@layer components {
    .card {
        @apply border border-base-300 bg-base-200 shadow-lg p-4;
    }

    button {
        @apply btn;

        &.active {
            @apply bg-primary text-primary-content;
        }
    }

    .tiptap {
        @apply p-4;

        ul,
        ol {
            @apply pl-4 pr-4 mt-5 mb-5 ml-1.5;

            li p {
                @apply mt-1 mb-1;
            }
        }

        ul {
            list-style-type: disc;
        }

        ol {
            list-style-type: decimal;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @apply leading-[1.1] mt-3 mb-1 text-pretty font-bold;
        }

        h1,
        h2 {
            @apply mt-5 mb-3;
        }

        h1 {
            @apply text-[1.4rem];
        }

        h2 {
            @apply text-[1.2rem];
        }

        h3 {
            @apply text-[1.1rem];
        }

        h4 {
            @apply text-[1rem];
        }

        code:not(pre code) {
            @apply bg-base-200 text-base-content text-xs p-1;
        }

        pre {
            @apply bg-base-200 border border-base-300 w-fit text-xs rounded mx-1 p-1;
        }

        pre code {
            @apply bg-transparent p-0;
        }

        mark {
            @apply bg-warning rounded-lg m-1.5 p-0.5;
        }

        blockquote {
            @apply border-l-5 border-primary bg-base-200 mx-3 pl-4;
        }

        hr {
            @apply border-t-3 border-base-300 mx-8;
        }
    }
}