@import "tailwindcss";

@plugin "daisyui" {
    themes:
        lights --default,
        pastel,
        dim,
        dark;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* .router-link-active {
    @apply left-[50%] fixed -top-2 text-xl tooltip-top group-hover:opacity-0;

} */
@layer components {
    .card {
        @apply border border-base-300 bg-base-200 shadow-lg p-4;
    }
    button {
        @apply btn;
        &.active {
            @apply bg-primary text-primary-content;
        }
    }
    .editor-content {
        @apply bg-base-200;
    }
    .tiptap {
        @apply prose p-3;
        ul,
        ol {
            @apply pl-4 pr-4 mt-5 mb-5 ml-1.5 list-decimal;
            li p {
                @apply mt-1 mb-1;
            }
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @apply leading-[1.1] mt-10 text-pretty font-bold;
        }

        h1,
        h2 {
            @apply mt-14 mb-6;
        }

        h1 {
            @apply text-[1.4rem];
        }

        h2 {
            @apply text-[1.2rem];
        }

        h3 {
            @apply text-[1.1rem];
        }

        h4,
        h5,
        h6 {
            @apply text-[1rem];
        }

        code {
            @apply bg-base-300 rounded text-base-content text-sm p-1;
        }

        pre {
            @apply bg-base-300 text-accent mx-1 p-1;

            code {
                @apply bg-none text-sm p-0;
            }
        }

        mark {
            @apply text-blue-500 bg-base-300 text-xl font-semibold rounded-lg px-0.5 py-1;
        }

        blockquote {
            @apply border-l-5 border-base-300 bg-base-200 mx-3 pl-4;
        }

        hr {
            @apply border-t-3 border-base-300 mx-8;
        }
    }
}
